* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
  }

  @font-face {
    font-family: "Jackeyfont";
    src: url("WOFF/jackeyfont.woff") format("woff");
    font-display: swap;
  }

  body, html {
    margin: 0;
    overflow: hidden;
    width: 100vw;
  }

  body {
    font-family: "MS Sans Serif";
    letter-spacing: 0.001em;
    font-size: 14px;
    font-smooth: none;
  }

  #main {
    z-index: 3;
  }

  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #enter {
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    position: fixed;
    text-align: center;
    background-image: url(images/girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    color: #fff;
    transition: opacity 0.5s;
    overflow: hidden;
    z-index: 2;
  }

  #desktop {
    background-image: url(images/girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: -300;
  }

  #toolbar {
    background: #c0c0c0;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #fff;
  }

  #toolbar .toolbar-start-menu {
    float: left;
  }

  #toolbar .toolbar-start-menu .start-button {
    background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 2px center / 24px;
    padding-left: 28px;
    padding-right: 5px;
    height: 29px;
    margin: 2px 3px;
    font-weight: bold;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
  }

  #toolbar .toolbar-start-menu .start-button:hover {
    background-color: #a7a7a7;
  }

  #toolbar .toolbar-start-menu .start-menu-wrapper {
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #c0c0c0;
    position: fixed;
    left: 2px;
    bottom: 33px;
    width: 190px;
    min-height: 200px;
  }

  #toolbar .toolbar-start-menu .start-menu-wrapper .start-menu-title {
    height: 100%;
    padding: 5px 5px;
    background: linear-gradient(90deg, #00007b 0%, #00f 5%, #00007b 100%);
    color: #fff;
    width: 40px;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
  }

  #toolbar .toolbar-start-menu .start-menu-wrapper .start-menu-title span {
    transform: rotate(-90deg);
    transform-origin: left 0;
    position: absolute;
    left: 10px;
    bottom: -10px;
  }

  #toolbar .toolbar-start-menu .start-menu-wrapper .start-menu {
    margin-left: 40px;
  }

  #toolbar .toolbar-separator {
    width: 2px;
    height: 26px;
    margin-top: 2px;
    background: #797979;
    float: left;
    border-right: 1px solid #fff;
  }

  #toolbar .toolbar-left {
    float: left;
    padding: 0 5px;
    min-width: 50px;
  }

  #toolbar .toolbar-icon {
    background: no-repeat center / 20px;
    width: 25px;
    height: 25px;
    border: none;
    margin: 3px 2px;
    float: left;
    z-index: 100;
  }

  #toolbar .toolbar-icon.outlook {
    background-image: url(Members/k5.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-icon.correction {
    background-image: url(Members/frawwd.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-icon.wanted {
    background-image: url(Members/six.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-icon.owned {
    background-image: url(Members/Zix.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-icon.err {
    background-image: url(Members/vayne.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-icon.icndrp {
    background-image: url(Members/randy.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-icon.tfa {
    background-image: url(Members/crown.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    z-index: 100 !important;
  }

  #toolbar .toolbar-right {
    float: right;
    margin: 2px 3px;
    height: 29px;
    border: 2px solid #7c7c7c;
    border-bottom-color: #fff;
    border-right-color: #fff;
  }

  #toolbar .toolbar-right .time {
    padding: 6px 10px;
  }

  .desktop-icons-container {
    display: flex;
  }

  .desktop-icons {
    display: flex;
    flex-direction: column;
  }

  .desktop-icons .desktop-icon {
    width: 115px;
    height: 100px;
    color: #fff;
    text-align: center;
    background: no-repeat center top / 48px 48px;
    padding-top: 55px;
    margin: 10px;
  }

  .desktop-icons .desktop-icon.K5 {
    background-image: url(Members/k5.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.reiko {
    background-image: url(Members/reiko.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.Frawwd {
    background-image: url(Members/frawwd.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.six {
    background-image: url(Members/six.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.zix {
    background-image: url(Members/Zix.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.vayne {
    background-image: url(Members/vayne.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.earthtoballs {
    background-image: url(Members/randy.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .desktop-icons .desktop-icon.crown {
    background-image: url(Members/crown.png);
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .custom-button {
    border: none !important;
  }

  h4 {
    text-transform: uppercase;
    font-size: 2px;
    font-family: "VCR OSD Mono", sans-serif;
  }

  .wow {
    text-transform: uppercase;
    font-size: 10px;
    font-family: "VCR OSD Mono", sans-serif;
  }

  .draggable {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .enter-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  @media only screen and (max-width: 600px) {
    #enter {
        background-image: url("images/mobile-girl.png");
        z-index: 1;
    }

    #desktop {
        background-image: url("images/mobile-girl.png");
        z-index: 1;
    }

    h4 {
        position: absolute;
        text-transform: uppercase !important;
        font-size: 1em !important;
        font-family: "VCR OSD Mono", sans-serif !important;
        padding: 60px;
        width: 70%;
        text-align: center;
        top: 0;
        left: 0;
        padding-top: 20px;
        margin-left: 150px;
        z-index: 0;
    }
    .enter-screen {
        width: 300px;
    }
    body {
      margin: 0;
      overflow-x: hidden;
    }
  }

  .volume-window {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 250px;
    z-index: 1000;
    display: none;
    background: #c0c0c0;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
  }

  .volume-window .window-body {
    padding: 10px;
  }

  #songInfo {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #range26 {
    width: 100%;
    margin: 10px 0;
  }

  .status-bar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-top: 2px solid #7c7c7c;
  }

  .status-bar p {
    cursor: pointer;
    padding: 5px;
  }

  .status-bar p:hover {
    background: #a7a7a7;
  }

  .member-popup {
    background: #c0c0c0;
    padding: 20px;
    text-align: center;
  }

  .member-popup img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .member-popup p {
    margin: 10px 0;
  }

  .toolbar-bottom-icons {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background: rgba(192, 192, 192, 0.8);
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 1000;
  }

  .toolbar-bottom-icons a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    transition: transform 0.2s;
  }

  .toolbar-bottom-icons a:hover {
    transform: scale(1.1);
  }
